<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de empleado</h3>
    <form (submit)="onSubmit()">
        <div class="form-group">
            <label>Nombre : </label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="empleado.nombre" name="nombre" required
                   minlength="4" maxlength="10" placeholder="Digite su nombre" #nombre="ngModel">
<!--          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty|| nombre.touched)">-->
<!--            <div *ngIf="nombre.errors?.['required']">Digite su nombre por favor</div>-->
<!--            <div *ngIf="nombre.errors?.['minlenght']">El nombre tiene que tener como minimo 4 caracteres</div>-->
<!--            <div *ngIf="nombre.errors?.['maxlenght']">El nombre tiene que tener como maximo 10 caracteres</div>-->
<!--          </div>-->


          <label>Apellido : </label>

            <input type="text" class="form-control" id="apellido" [(ngModel)]="empleado.apellido" name="apellido">
            <label>Email : </label>
            <input type="text" class="form-control" id="email" [(ngModel)]="empleado.email" name="email">
        </div>
        <button class="btn btn-success"> Guardar</button>
    </form>
</div>
